@font-face {
    font-family: 'Ultra';
    src: url('./Ultra-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    background-image: url('coffee.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#content {
    height: 100vh;
    width: min(800px, 100%);
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#header {
    background-color: #76B041;
    display: grid;
    font-family: 'Ultra', serif;
    padding-left: 18px;
    padding-right: 18px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#tabs {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    cursor: pointer;
}

#contentBody {
    background-color: #074f57;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: #eaeaea;
    padding-left: 18px;
    padding-right: 18px;
    align-items: center;
}

.description {
    max-width: 60%;
    place-self: center;
    display: grid;
    grid-template-rows: 1fr 5fr;
}